<html>
<head>
    <title>Contact me</title>
</head>
<body>
    <div class="mainContainer">
        <div class="h1Container"><h1>Contact Me Form</h1></div>
        <div class="form">
            <ul>
                <li>
                    Your Email :  
                </li>
                <input>
                <li>
                    Your Phone Number :
                </li>
                <input>
                <li>
                    Your Message :
                </li>
                <input id="message">
            </ul>
            <button id="sendButton">Send</button>
        </div>
    </div>

</body>
</html>