
    <div class="mainContainer">
        <div class="myContactContainer">
        <h1>Identitas Diri</h1>
            <div class="myContactPictureContainer">
            <img src="../assets/img/IMG_20260326_104443_304.jpg">
            </div>
            <div class="myContactInfoContainer">
                <table>
                    <tr>
                        <td>Nama</td>
                        <td>: Habil Herdianto Putra</td>
                    </tr>
                    <tr>
                        <td>Tanggal Lahir</td>
                        <td>: 05 Agustus 2005</td>
                    </tr>
                    <tr>
                        <td>No Telp</td>
                        <td>: 08111120503</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>: habilherdianto233z@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Pendidikan Terakhir</td>
                        <td>: Sekolah Menengah Atas</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
