<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Identitas Diri</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  {{>navbar}}

    <div class="mainContainer">

    <h1>Identitas Diri</h1>

        <img src="../src/IMG_20260326_104443_304.jpg">
        <div class="main">
        <table>
            <tr>
                <td>Nama</td>
                <td>: Habil Herdianto Putra</td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>: 05 Agustus 2005</td>
            </tr>
            <tr>
                <td>No Telp</td>
                <td>: 08111120503</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>: habilherdianto233z@gmail.com</td>
            </tr>
            <tr>
                <td>Pendidikan Terakhir</td>
                <td>: Sekolah Menengah Atas</td>
            </tr>
        </table>
        </div>

        </div>

        <div id="line2"></div>
</body>
</html>