<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    {{>navbar}}
        <div class="formProjectContainer">
            <button class="backButton" onclick="back()">Back</button>
            <h1 id="myProjecth1">Add New Project</h1>

                <form id="myProjectForm">
                    <h2>Project Name</h2>
                        <input type="text" id="projectName">
                    <h2>Description</h2>
                        <input type="text" id="projectDescription">
                    <h2>Tag</h2>
                        <select id="projectTag">
                            <option value="none">None</option>
                            <option value="technology">Technology</option>
                            <option value="sport">Sport</option>
                            <option value="construction">Construction</option>
                            <option value="decoration">decoration</option>
                        </select>
                    <div class="imgUpload">
                    <h2>images</h2>
                    <input type="file" name="" id="fileId" onchange="imageUploaded()">
                    </div>
                    <button type="submit" id="submitButton">submit</button>
                </form>
                <button onclick="clearAll()" id="clearAllButton">clear all</button>
        </div>

        <div class="myProjectContainer">
            <div class="filterArea">
                <h2>Filter by Tag</h2>
                    <select id="filterTag" onchange="filterProjects()">
                        <option value="none">None</option>
                        <option value="technology">Technology</option>
                        <option value="sport">Sport</option>
                        <option value="construction">Construction</option>
                        <option value="decoration">decoration</option>
                    </select>
            </div>
            <div id="containerArea">
            </div>
        </div>
    <div id="line2"></div>
    <script src="../scripts/index.js"></script>
</body>
</html>