{{#if success}}
<div class="alert alert-success">
    {{success}}
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger">
    {{error}}
</div>
{{/if}}

<div class="mainContainer">
    <H1>Register Page</H1>
    <form action="/register" method="post">
        <h2>Name</h2>
        <input type="text" name="name" id="userName">
        <h2>Email</h2>
        <input type="text" name="email" id="userEmail">
        <h2>password</h2>
        <input type="text" name="password" id="userPassword">
        <button type="submit">Register</button>
    </form>
</div>